:root {
    --primary-color: #87a4f1;
    --secondary-color: #cad4f7;
    --tertiary-color: #f1f1f1;
    --dark-color: #242020;
    --light-color: #fff;
    --azul-color: #051d35;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--dark-color);
    color: var(--light-color);
}

/* .border {
    border: 1px solid rgb(233, 75, 199);
} */

.sidebar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    border-right: 1px solid #747474;
    background-color: var(--azul-color);
}

.sidebar-header {
    width: 100%;
    margin-bottom: 16px;
}

.logo-img {
    width: 79px;
    height: 79px;;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s;
} 

.logo-img:hover {
    transform: scale(1.5);
}

.sidebar button {
    height: 60px;
    background: transparent;
    border: 0;
    font-family: inherit;
    color: var(--tertiary-color);
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.sidebar button > span {
    width: 50%;
}

.sidebar button > span > span{
    opacity: 0;
    visibility: hidden;
}


